        <div id=Container class="section container">
            <h2 class="title"> COURSES</h2>
            <div class="filters">
                <div>
                    <button type="button" class="btn baby_blue white btn-lg filter" data-filter=".upcoming">Upcoming</button>
                    <button type="button" class="btn baby_blue white btn-lg filter" data-filter=".past">Past</button>
                </div>
                <div>
                    <button onclick="$('#Container').mixItUp('filter','.mix')" type="button" class="btn btn-warning btn-lg">Reset</button>
                    <button type="button" class="btn data_back_color white btn-lg filter" data-filter=".Data">Data Science</button>
                    <button type="button" class="btn dev_back_color white btn-lg filter" data-filter=".Dev">Development</button>
                    <button type="button" class="btn design_back_color white btn-lg filter" data-filter=".Design">Design</button>
                </div>
            </div>



                {{#each data}}
                    {{#date original_date ">"}}                    
                
                <div class="row row-centered mix {{class_type}} upcoming">
                    {{else}}
                <div class="row row-centered mix {{class_type}} past">
                    {{/date}}
                <a href="/course/{{website_identifier}}" class="courses_link">
                <div class="class_template col-md-10 col-centered ">
                    
                        {{#compare class_type "Data"}}
                        <div class="col-md-2 data_back_color">
                            <img src="images/graph-icon.png">
                        </div>
                        {{/compare}}

                        {{#compare class_type "Dev"}}
                        <div class="col-md-2 dev_back_color">
                            <img src="images/gear-icon.png">
                        </div>
                        {{/compare}}
                    
                        {{#compare class_type "Design"}}
                        <div class="col-md-2 design_back_color">
                            <img src="images/hand-icon.png">
                        </div>
                        {{/compare}}

                    <div class="col-md-6">
                        <h2 class="class_title">{{course_name}}</h2>

                        <h4 class="class_description">{{description}}</h4>

                        <h4 class="class_instructors">{{instructor}}</h4>
                        
                    </div>

                    <div class="col-md-3 class_time_div">
                        <h4 class="class_date">{{original_date}}</h4>
                        <h4 class="class_time">{{course_length}}</h4>
                    </div>
                
                </div>
                </a>
                </div>
                
                {{/each}}
        </div>